body {
  margin: 0px;
  text-align: center;
}

.menu_1 {
  z-index: 1;
  position: relative;
  box-shadow: 0px 3px 5px rgb(193, 193, 193);
  width: 100%;
}
.menu_1__logo {
  width: 200px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.menu_2 {
  z-index: -1;
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.menu_2 .fa-solid.fa-location-dot {
  padding-top: 16px;
  padding-right: 11px;
}

.menu_3 {
  font-family: "Roboto", sans-serif;
  background-color: rgb(246, 246, 246);
  padding-bottom: 60px;
}
.menu_3__text_1 {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 10px;
  font-weight: 800;
}
.menu_3__text_2 {
  font-size: 22px;
  font-weight: 350;
}
.menu_3__bouton {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-inline: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  width: 250px;
  margin: auto;
}
.menu_3__bouton:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 5px 5px 10px #7e7e7e;
}

.menu_4 {
  text-align: left;
  font-family: "Roboto", sans-serif;
  margin-left: 30px;
}
.menu_4__list {
  list-style-type: none;
  counter-reset: compteur;
  margin-left: -20px;
}
.menu_4__list li {
  counter-increment: compteur;
  margin-block: 30px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(246, 246, 246);
  border-radius: 15px;
  padding-block: 20px;
  padding-right: 55px;
  width: 300px;
  box-shadow: 5px 5px 10px lightgray;
}
.menu_4__list li::before {
  padding: 5px;
  padding-inline: 10px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  content: counter(compteur);
  margin-left: -35px;
}

.fa-solid.fa-mobile-screen-button {
  padding-top: 4px;
}

.fa-solid.fa-list {
  padding-top: 4px;
}

.fa-solid.fa-store {
  padding-top: 4px;
}

li:hover {
  background-color: #f2eafb;
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #7e7e7e;
}

@media (max-width: 330px) {
  .menu_4__list li {
    padding-right: 33px;
    width: 227px;
  }
  .menu_4__list {
    margin-left: -31px;
  }
}
@media (min-width: 500px) {
  .menu_4 {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .menu_4__list li {
    margin-inline: 20px;
  }
}
@media (min-width: 1200px) {
  .menu_4__list {
    display: flex;
  }
}
.section_1 {
  background-color: rgb(246, 246, 246);
}
.section_1__titre {
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-left: 50px;
  font-size: 40px;
  padding-top: 70px;
}

.section_1__cards {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.section_1__cards_restaurant {
  position: relative;
}
.section_1__cards img {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.section_1__cards p {
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
  line-height: 9px;
}
.section_1__cards__titre {
  padding-top: 5px;
  font-weight: 600;
  font-size: 25px;
  line-height: 9px;
}
.section_1__cards a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}
.section_1__cards_restaurant {
  border-radius: 40px;
  background-color: white;
  width: 90%;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px lightgray;
}
.section_1__cards__flex {
  display: flex;
  justify-content: space-between;
}
.section_1__cards__etiquette_nouveau {
  position: absolute;
  top: 0px;
  right: 25px;
}
.section_1__cards__etiquette_nouveau__text {
  background-color: rgb(153, 226, 208);
  width: 120px;
  padding-block: 15px;
  color: rgb(2, 136, 103);
  font-weight: 600;
  font-size: 10px;
  border-radius: 4px;
}
.section_1__cards_restaurant:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #7e7e7e;
}

@media (max-width: 330px) {
  .section_1__cards p {
    font-size: 20px;
  }
  .section_1__cards__etiquette_nouveau__text {
    width: 97px;
  }
}
@media (min-width: 768px) {
  .section_1 {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .section_1__cards {
    align-items: center;
  }
  .section_1__cards_restaurant {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .section_1__cards {
    display: flex;
    flex-flow: column;
  }
  .section_1__cards_restaurant {
    width: 750px;
    height: 458px;
    margin: 30px;
    padding-bottom: 30px;
  }
}
.footer {
  background-color: rgb(53, 53, 53);
  text-align: left;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 25px;
}
.footer__titre {
  font-family: "Shrikhand";
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin: 0px;
  padding-bottom: 10px;
}
.footer__text {
  color: white;
  line-height: 30px;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.fa-solid.fa-heart {
  padding-top: 30px;
  right: 29px;
  padding-right: 21px;
  font-size: 25px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}
.fa-solid.fa-heart:hover {
  animation: petitcoeur 1s;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: transparent;
}

@keyframes petitcoeur {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 50%;
  left: 50%;
}

.cercle1 {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  color: #9356DC;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.cercle2 {
  left: auto;
  right: 0;
  color: #FF79DA;
  transform: translate(50%, 100%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fond__loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  z-index: 10;
  animation: end__loader 3s ease-in forwards;
}

@keyframes end__loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}/*# sourceMappingURL=main.css.map */