body {
  text-align: center;
  margin: 0px;
}

.logo__image {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.fa-solid.fa-arrow-left {
  color: rgb(53, 53, 53);
  text-decoration: none;
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 25px;
}

.overlay__menu {
  position: relative;
  min-height: 1746px;
}

.overlay__menu__enchantee {
  position: relative;
  min-height: 1840px;
}

.section_image {
  position: absolute;
  top: 0;
  left: 0;
}

.section_image__a_la_francaise {
  width: 100%;
  position: relative;
}

.menu__partie {
  animation: deroulement__menu 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.menu {
  width: 100%;
  position: absolute;
  top: 200px;
  left: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(246, 246, 246);
}
.menu__titre {
  font-family: "Shrikhand";
  font-size: 30px;
}
.menu__titre__2 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-left: 20px;
  line-height: 0px;
  font-weight: 400;
}
.menu__titre__3 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-left: 20px;
  line-height: 0px;
  font-weight: 400;
  margin-top: 70px;
}
.menu__titre__logo {
  display: flex;
  justify-content: space-around;
}

.bouton_commander {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-inline: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  width: 250px;
  margin-block: 50px;
  margin-bottom: 100px;
  text-align: center;
  margin-inline: auto;
}

.menu__ligne {
  background-color: rgb(246, 246, 246);
  border-radius: 15px;
  box-shadow: 5px 5px 10px lightgray;
  text-align: left;
  position: relative;
  margin-block: 10px;
  margin-inline: 10px;
  padding-block: 10px;
}

.prix {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  padding-top: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.menu__ligne:hover .prix {
  right: 70px;
  transition-duration: 1s;
}

.text__ligne {
  line-height: 2px;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  padding: 15px;
  margin: 0px;
}

.menu__ligne:hover .text__ligne {
  width: 230px;
  text-overflow: ellipsis;
  transition-duration: 1s;
}

.tiret {
  border-top: 4px solid #99E2D0;
  margin-left: 20px;
}

.fa-regular.fa-heart {
  padding-top: 35px;
  font-size: 25px;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: rgb(53, 53, 53);
  text-align: left;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 25px;
  width: 100%;
}
.footer__text {
  color: white;
  line-height: 30px;
}
.footer__titre {
  font-family: "Shrikhand";
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin: 0px;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.attente-0 {
  animation-delay: 0s;
}

.attente-1 {
  animation-delay: 0.5s;
}

.attente-2 {
  animation-delay: 1s;
}

@keyframes deroulement__menu {
  0% {
    opacity: 0;
    transform: translatey(20%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.menu__ligne:hover .animation__validation {
  right: 0px;
  transition-duration: 1s;
}

.animation__validation {
  position: absolute;
  right: -90px;
  top: 0px;
  background-color: aquamarine;
  padding: 29px;
  padding-inline: 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.menu__ligne:hover .icone__validation {
  transform: rotate(0);
  transition-duration: 1s;
}

.icone__validation {
  background: white;
  padding: 5px;
  border-radius: 100%;
  padding-inline: 7px;
  color: aquamarine;
  transform: rotate(-180deg);
}

.fa-solid.fa-heart {
  padding-top: 30px;
  right: 29px;
  padding-right: 21px;
  font-size: 25px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}
.fa-solid.fa-heart:hover {
  animation: petitcoeur 1s;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: transparent;
}

@keyframes petitcoeur {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 50%;
  left: 50%;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #9356DC;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  right: 0;
  background: #FF79DA;
  transform: translate(50%, 100%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fond__loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  z-index: 10;
  animation: end__loader 3s ease-in forwards;
}

@keyframes end__loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}/*# sourceMappingURL=menu.css.map */