@media screen and (max-width: 768px) {
body {
    margin: 0px;
    text-align: center;
}
.menu_1 {
    z-index: 1000;
    box-shadow: 0px 5px 5px rgb(211, 18, 18);
    width: 100%;
    &__logo {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 15px;

}
}
.menu_2{
    z-index: -1;
    display: flex;
    justify-content: center;
    background-color: rgba(234,234,234,255);
    font-family: 'Roboto', sans-serif;
    .fa-solid.fa-location-dot {
        padding-top: 14px;
        padding-right: 6px;
    }
}
.menu_3 {
    font-family: 'Roboto', sans-serif;
    &__bouton {
        background-color: $couleur_secondaire;
        // border-radius: 30%;
        // width: 200px;
    }
}
}