@media screen and (max-width: 768px) {
body {
    margin: 0px;
    text-align: center;
}
.menu_1 {
    box-shadow: 0px 5px 5px grey;
    width: 100%;
    &__logo {
    width: 50%;
    align-items: center;
}
}
.menu_2{
    font-family: 'Roboto', sans-serif;
    &__text {
        color: red;
    }
}
.menu_3 {
    font-family: 'Roboto', sans-serif;
    &__bouton {
        background-color: $couleur_secondaire;
        // border-radius: 30%;
        // width: 200px;
    }
}
}