@media screen and (max-width: 768px) {
.menu_1 {
    box-shadow: 10px 5px 5px grey;
    width: 100%;
    &__logo {
    width: 50%;
    align-items: center;
}
}
.menu_2{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    &__text {
        color: red;
    }
}
.menu_3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    &__bouton {
        background-color: $couleur_secondaire;
        border-radius: 30%;
        width: 200px;
    }
}
}