.menu_4 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    &__list{
        list-style-type: none;
        counter-reset: compteur;
        margin-left: -20px;
      }
    &__list li{
        counter-increment: compteur;
        margin-block: 30px;
        display: flex;
        justify-content: space-around;
        background-color: rgba(246,246,246,255);
        border-radius: 15px;
        padding-block: 20px;
        padding-right: 55px;
        width: 300px;
        box-shadow: 5px 5px 10px lightgray;
      }
    &__list li::before {
        padding: 5px;
        padding-inline: 10px;
        border-radius: 100%;
        background-color: $couleur_primaire;
        color: white;
        content: counter(compteur);
        margin-left: -35px;
    }
}
li:hover {
  background-color: #f2eafb;
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #7e7e7e;
}
@media (min-width : 501px ) {
  .menu_4 {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .menu_4__list li {
    margin-inline: 20px;
  }
 
}

@media (min-width : 960px) {
   .menu_4__list {
    display: flex;
  }
}