.footer {
    background-color: rgba(53,53,53,255);
    text-align: left;
    &__titre {
        font-family: 'Shrikhand';
        font-size: 25px;
        color: white;
        font-weight: 300;
    }
    &__text {
        color: white;
    }
}
footer a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}