
body {
    margin: 0px;
    text-align: center;
}
.menu_1 {
    z-index: 1;
    position: relative;
    box-shadow: 0px 3px 5px rgb(193, 193, 193);
    width: 100%;
    &__logo {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 15px;
    }
}
.menu_2{
    z-index: -1;
    display: flex;
    justify-content: center;
    background-color: rgba(234,234,234,255);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    .fa-solid.fa-location-dot {
        padding-top: 16px;
        padding-right: 11px;
    }
}
.menu_3 {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(246,246,246,255);
    padding-bottom: 60px;
    &__text_1 {
        margin-top: 0px;
        margin-left: 40px;
        margin-right: 40px;
        padding-top: 10px;
        font-weight: 800;
    }
    &__text_2 {
        font-size: 22px;
        font-weight: 350;
    }
    &__bouton {
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding-inline: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        background: linear-gradient($couleur_secondaire,$couleur_primaire);
        border-radius: 40px;
        width: 250px;
        margin: auto;
        &:hover {
            background: linear-gradient(170deg, #ff93e1, #a16be0);
            box-shadow: 5px 5px 10px #7e7e7e;
        }
    }
}
@media (min-width : 501px ) and ( max-width : 959px) {

}
@media (min-width : 960px) {

}