.section_1 {
    background-color: rgba(246,246,246,255);
}
.section_1__cards {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    &_restaurant{
        position: relative;
    }
    img {
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    p {
        text-align: left;
        padding-left: 20px;
        font-size: 25px;
        line-height : 9px
        
    }
    &__titre {
        padding-top: 5px;
        font-weight: 600;
        font-size: 25px;
        line-height : 9px
    }
    a {
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
    }
    &_restaurant {
        border-radius: 40px;
        background-color: white;
        width: 90%;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
    }
    .fa-regular.fa-heart {
        padding-top: 30px;
        padding-right: 30px;
        font-size: 25px;
    }
    &__etiquette_nouveau {
        position: absolute;
        top: 0px;
        right: 25px;
        &__text{
        background-color: rgba(153,226,208,255);
        width: 120px;
        padding-block: 15px;
        color: rgba(2,136,103,255);
        font-weight: 600;
        font-size: 10px;
        border-radius: 4px;
        }
        
    }
}