.section_1 {
    background-color: rgba(246,246,246,255);
}
.section_1__cards {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    img {
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    p {
        text-align: left;
        padding-left: 20px;
        font-size: 25px;
        
    }
    &__titre {
        font-weight: 600;
        font-size: 25px;
    }
    a {
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
    }
    &_restaurant {
        border-radius: 40px;
        background-color: white;
        width: 90%;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
    }
    .fa-regular.fa-heart {
        padding-top: 30px;
        padding-right: 30px;
        font-size: 25px;
    }
    
}