body {
    text-align: center;
    margin: 0px;
}
.logo__image {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.fa-solid.fa-arrow-left {
    color: rgba(53,53,53,255);
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 25px;
}
.overlay__menu {
    position: relative;
    min-height: 1746px;
}
.overlay__menu__enchantee {
    position: relative;
    min-height: 1840px;
}
.section_image {
    position: absolute;
    top: 0;
    left: 0;
}
.section_image_photo {
    width: 100%;
    position: relative;
}
.section_image_photo_appli {
    width: 100%;
    position: relative;
}
.section_image_photo_responsive {
    display: none;
}
.menu__partie{
    animation: deroulement__menu 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.menu {
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgba(246,246,246,255);
    &__titre {
        font-family: 'Shrikhand';
        font-size: 30px;
        &__2 {
            font-family: 'Roboto', sans-serif;
            text-align: left;
            margin-left: 20px;
            line-height: 0px;
            font-weight: 400;
        }
        &__3 {
            font-family: 'Roboto', sans-serif;
            text-align: left;
            margin-left: 20px;
            line-height: 0px;
            font-weight: 400;
            margin-top: 70px;
        }
    }
    &__titre__logo {
        display: flex;
        justify-content: space-around;
    }
}
.bouton_commander {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-inline: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 40px;
    width: 250px;
    margin-block: 50px;
    margin-bottom: 100px;
    text-align: center;
    margin-inline: auto;
}
.bouton_commander:hover {
    background: linear-gradient(170deg, #ff93e1, #a16be0);
    box-shadow: 5px 5px 10px #7e7e7e;
}
.menu__ligne {
            background-color: rgb(246, 246, 246);
            border-radius: 15px;
            box-shadow: 5px 5px 10px lightgray;
            text-align: left;
            position: relative;
            margin-block: 10px;
            margin-inline: 10px;
            padding-block: 10px;
    }
.prix {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    padding-top: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.menu__ligne:hover .prix {
    right: 70px;
    transition-duration: 1s;
}
.text__ligne {
    line-height: 2px;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding: 15px;
    margin: 0px;
    width: 280px;
    text-overflow: ellipsis;
}
.menu__ligne:hover .text__ligne {
    width: 200px;
    text-overflow: ellipsis;
    transition-duration: 1s;
}
.tiret {
    border-top: 4px solid $couleur_tertiaire;
    margin-left: 20px;
    text-align: left;
    width: 50px;
}
.fa-regular.fa-heart {
    padding-top: 35px;
    font-size: 25px;
}
.footer {
    position: absolute;
    bottom: 0px;
    background-color: rgba(53,53,53,255);
    text-align: left;
    padding-bottom: 30px;
    padding-top: 25px;
    width: 100%;
    &__text {
    padding-left: 30px;
    color: white;
    line-height: 30px;
}
    &__titre {
    padding-left: 30px;
    font-family: 'Shrikhand';
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin: 0px;
    padding-bottom: 10px;
}
}
footer a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
@for $i from 0 through 2 {
    .attente-#{$i} {
      animation-delay: #{$i/2}s;
    }
}
@keyframes deroulement__menu {
    0% {
      opacity: 0;
      transform: translatey(20%);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}
.menu__ligne:hover .animation__validation{
    transition-duration: 1s;
    animation-duration: 1s;
    animation-name: display-translation;
    animation-fill-mode: forwards;
}
.animation__validation {
    visibility: hidden;
    position: absolute;
    top: 0px;
    background-color: aquamarine;
    padding: 29px;
    padding-inline: 25px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.menu__ligne:hover .icone__validation {
    transform:rotate(0);
    transition-duration: 1s;
}
.icone__validation {
    background: white;
    padding: 5px;
    border-radius: 100%;
    padding-inline: 7px;
    color: aquamarine;
    transform: rotate(-180deg);
    
}
@media (max-width : 350px ) {
    .text__ligne {
    width: 201px;
}
.footer {
    bottom: -38px;
}
.menu__ligne:hover .text__ligne {
    width: 150px;
    text-overflow: ellipsis;
    transition-duration: 1s;
}
.menu__titre {

    font-size: 25px;
}
}
@media (min-width : 450px) {
    .text__ligne {
        text-overflow: clip;
        overflow: visible;
    }
}
@media (min-width : 768px ) {
    .menu {
        top: 300px;
    }
    .text__ligne {
        text-overflow: clip;
        overflow: visible;
    }
    .footer {
        bottom: -130px;
    }
    }
@media (min-width : 992px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 50%;
        margin-inline: 25%;
        top: 116px;
    }
    .menu__ligne {
        width: 480px;
    }
    .fa-solid.fa-heart {
        margin-left: 80px;
    }
    .animation__validation {
        opacity: 0%;       
    }
    .menu__ligne:hover .animation__validation{
        right: 0px;
        transition-duration: 1s;
        animation-duration: 1s;
        animation-name: apparition, display-translation;
        animation-fill-mode: forwards;
    }
    .footer {
        bottom: 0px;
    }
    .section_image_photo_appli {
       display: none;
    }
    .section_image_photo_responsive {
        display: block;
        width: 100%;
        position: relative;
    }
}
@keyframes apparition {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
    
}
@keyframes display-translation {
    from {
        right: -90px;
        visibility: hidden;
    }
    to {
        right: 0px;
        visibility: visible;
    }
}