body {
    text-align: center;
    margin: 0px;
}
.logo__image {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.fa-solid.fa-arrow-left {
    color: rgba(53,53,53,255);
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 25px;
}
.overlay__menu {
    position: relative;
    min-height: 1746px;
}
.overlay__menu__enchantee {
    position: relative;
    min-height: 1840px;
}
.section_image {
    position: absolute;
    top: 0;
    left: 0;
}
.section_image__a_la_francaise {
    width: 100%;
    position: relative;
}
.menu__partie{
    animation: deroulement__menu 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.menu {
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgba(246,246,246,255);
    &__titre {
        font-family: 'Shrikhand';
        font-size: 30px;
        &__2 {
            font-family: 'Roboto', sans-serif;
            text-align: left;
            margin-left: 20px;
            line-height: 0px;
            font-weight: 400;
        }
        &__3 {
            font-family: 'Roboto', sans-serif;
            text-align: left;
            margin-left: 20px;
            line-height: 0px;
            font-weight: 400;
            margin-top: 70px;
        }
    }
    &__titre__logo {
        display: flex;
        justify-content: space-around;
    }
}
.bouton_commander {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-inline: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 40px;
    width: 250px;
    margin-block: 50px;
    margin-bottom: 100px;
    text-align: center;
    margin-inline: auto;
}
.menu__ligne {
            background-color: rgb(246, 246, 246);
            border-radius: 15px;
            box-shadow: 5px 5px 10px lightgray;
            text-align: left;
            position: relative;
            margin-block: 10px;
            margin-inline: 10px;
            padding-block: 10px;
    }
.prix {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    padding-top: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.text__ligne {
    line-height: 2px;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
}
.tiret {
    border-top: 4px solid $couleur_tertiaire;
    margin-left: 20px;
}
.fa-regular.fa-heart {
    padding-top: 35px;
    font-size: 25px;
}
.footer {
    position: absolute;
    bottom: 0px;
    background-color: rgba(53,53,53,255);
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 25px;
    width: 100%;
    &__text {
    color: white;
    line-height: 30px;
}
    &__titre {
    font-family: 'Shrikhand';
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin: 0px;
    padding-bottom: 10px;
}
}
footer a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
@for $i from 0 through 2 {
    .attente-#{$i} {
      animation-delay: #{$i/2}s;
    }
}
@keyframes deroulement__menu {
    0% {
      opacity: 0;
      transform: translatey(20%);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}